.game {
  width: 80rem;
  height: 58rem;
  margin: 0 auto;
  position: relative;
  /* outline: 1px yellow solid; */
}

.game-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 0;

  /* outline: 1px red solid; */
}

.game-subtitle p {
  width: 35%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* outline: 1px red solid; */
}

.game-field {
  position: relative;
  width: 90%;
  margin: 0 auto;
  /* outline: 1px yellow solid; */
}

.game-your-choice {
  margin: 0 auto;
  position: relative;
  width: 70rem;
  height: 59rem;
  /* padding: 4.2rem; */
  /* outline: 1px red solid; */
}
.game-triangle {
  position: absolute;
  z-index: -1;
  /* content: ''; */
  top: 0;
  left: 0;
  width: 70rem;
  height: 60rem;
  background-image: url('./bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: 44rem 40rem;
  background-position: center center;
  opacity: 1;
}

.game-your-choice--selected {
  margin: 0;
}

.game-your-choice--selected::before {
  opacity: 0;
}

.game-your-choice--selected {
  /* background-image: url('./bg-triangle.svg'); */
}

.game-house-picked {
  position: absolute;
  width: 50%;
  height: 50rem;
  /* padding: 4.2rem; */
  top: 0;
  right: 0;
  pointer-events: none;
  /* outline: 1px green solid; */
}

.variant {
  position: absolute;
  width: 27.2rem;
  height: 27.2rem;
  background-color: #e3e3e3;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center center;
}

.variant--paper {
  top: 0;
  left: 0;
  border: 3.3rem #5472ee solid;
  box-shadow: 0 12px #2845bf, inset 0 1rem #bbc0d6;
  background-image: url('./icon-paper.svg');
}

.variant--scissors {
  top: 0;
  right: 0;
  border: 3.3rem #eca823 solid;
  box-shadow: 0 12px #cb6d1a, inset 0 1rem #bbc0d6;
  background-image: url('./icon-scissors.svg');
}

.variant--rock {
  bottom: 0;
  left: 50%;
  margin-left: -141px;
  border: 3.3rem #e0425f solid;
  box-shadow: 0 12px #981736, inset 0 1rem #bbc0d6;
  background-image: url('./icon-rock.svg');
}

.variant--selected {
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin: 0;
  transform: scale(1.2);

  top: 6rem;
  left: 0;
}

.variant--house-picked {
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin: 0;
  /* transform: scale(1.2); */
  opacity: 0;
  pointer-events: none;

  top: 6rem;
  right: 0;
}

.game-result {
  width: 40rem;
  pointer-events: none;
  position: absolute;
  /* outline: 1px greenyellow solid; */
  top: 16rem;
  left: 50%;
  margin-left: -20rem;
  opacity: 0;
}

.game-result-text {
  margin: 0;
  margin-bottom: 0.5rem;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.game-btn {
  outline: none;
  border: 0;
  cursor: pointer;

  padding: 2.6rem 8rem;
  border-radius: 0.8rem;
  background-color: #fafafa;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #3141b2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game-btn:hover {
  background-color: #dadada;
}
